By Pete Muntean, CNN
Updated: Wed, 23 Mar 2022 21:52:00 GMT
Source: CNN Business

The CEOs of 10 airlines and cargo carriers have signed a letter to  President Joe Biden saying he should end the transportation mask mandate and testing requirements for international travelers.
In a new letter, industry group Airlines for America wrote, "now is the time for the Administration to sunset federal transportation travel restrictions -- including the international predeparture testing requirement and the federal mask mandate -- that are no longer aligned with the realities of the current epidemiological environment."
The CEOs of Alaska Airlines, American Airlines, Atlas Air Worldwide, Delta Air Lines, FedEx Express, Hawaiian Airlines, JetBlue Airways, Southwest Airlines, United Airlines, and UPS Airlines signed the letter.
Earlier this month, the White House moved the end of the transportation mask mandate to April 18. The White House said pertinent government agencies would consult with the US Centers for Disease Control and Prevention on whether the mandate could expire sooner and under what circumstances it could be brought back.
The letter comes after CDC Director Dr. Rochelle Walensky said Wednesday that the Omicron subvariant BA.2 does not appear to cause more severe Covid-19 but it is more transmissible than the original strain.
